# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Venvs
.venv/

# Models
models/
*.h5
*.pkl

# Env
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Images - don't commit PNGs
*.png
**/*.png
